<div class="vet_assign">

    <table>
      <tr>
        <td>Name:<%= @animal.animal_name %></td></tr>
        <tr><td>Type: <%= @animal.type %></td></tr>
        <tr><td>Date Of Birth:<%= @animal.date_of_birth %></td></tr>
        <tr><td>Age: <%= @animal.age %></td></tr>
        <tr><td>Favourite Color:<%= @animal.fav_colour %></td>
      </tr>
    </table>
  <form class="animals" action="/animals/vet_assign" method="post">
    <select id="vet-id" name="vet_id" selected="
    <% unassigned = Vet.find_unassigned() %>
    <%= unassigned.id %>">
      <% for vet in @vets %>
        <% if vet.id == unassigned.id %>
          <option value="<%= vet.id %>" selected ><%= vet.vet_name %></option>
        <% else %>
          <option value="<%= vet.id %>"><%= vet.vet_name %></option>
        <% end %>
      <% end %>
    </select>
    <button type="submit" name="animals">Assign Vet</button>
</form>

</div>
