<div class="flex-column min-width-80">
<!-- <div class="justify-flex-start"> -->
  <h1>All The Animals</h1>
<!-- </div> -->
  <table id="animals_table">
    <thead>
      <th><p>Name</p></th>
      <th><p>Type</p></th>
      <th><p>Age (years)</p></th>
      <th><p>Date of birth</p></th>
      <th><p>Assigned Human</p></th>
      <th><p>Assigned Vet</p></th>
      <th><p>Favourite colour</p></th>
      <th></th>
      <th></th>

    </thead>
    <% table_count = 0 %>
    <% for animal in @animals %>
      <tr class="<% table_count += 1 %><%= "even" if table_count.even? %><%= "odd" if table_count.odd? %>">
      <td><a href="/animals/<%= animal.id %>">
          <p><%= animal.animal_name %></p></a></td>
      <td><p><%= animal.type %></p></td>
      <td><p><% @up_to_date_age = animal.get_age() %>
          <%= @up_to_date_age %></p></td>
      <td><p><%= animal.date_of_birth %></p></td>
      <td><p><% human = animal.get_human()%>
          <a href="/humans/<%= human['id'] %>">
            <%= human['human_name'] %></a></p>
      </td>
      <% vet = animal.get_vet()%>
        <% if vet['vet_name'] == 'Unassigned' %>
          <td class="unassigned">
          <p><a href="/animals/<%= animal.id %>/assign-vet">Click to assign vet</a></p>
        <% else %>
          <td  ><p>
          <a href="/vets/<%= vet['id'] %>"><%= vet['vet_name'] %></a></p>
        <% end %></td>
      <td class="fav_colour" style="<%= "background-image: linear-gradient(45deg, red 16.67%, white 16.67%, white 50%, red 50%, red 66.67%, white 66.67%, white 100%);
background-size: 33.94px 33.94px;" if animal.animal_name == "BoBo"  %> background-color:<%= animal.fav_colour %>"><p><%= animal.fav_colour %></p></td>
      <td><a class="table-button button" href="/animals/<%= animal.id %>/edit">edit</a></td>
      <td><form action="/animals/<%= animal.id %>/delete" method="post">
        <button class="table-button button" type="submit" name="button">Delete</button>
      </form></td>
    </tr>
    <% end %>
  </table>

 <div class="span"  id="animal-delete"></div>

  <div class="span" id="animal-add">
    <a class="button" href="/animals/new" class="button">Add New Animal</a>
  </div>

</div>
