<div>
  <ul id="animals_table">
  <% for animal in @animals %>
    <li>
      <a href="/animals/<%= animal.id %>"><h2><%= animal.name %></h2></a>
      <p><%= animal.type %></p>
      <p><%= animal.age %>(<%= animal.date_of_birth %>)</p>
      <p><%= animal.fav_colour %></p>
      <!-- <p><a href="/animals/<%= animal.id %>/edit">Edit Animal</a></p> -->
      <hr></li>
    <% end %>
  </ul>
</div>
