<div>
  <table id="animals_table">
    <%  colspan =[1,3,2,1,1,1,1,2,2] %>
    <%  total_colspan = 0 %>
    <%  for each in colspan
    total_colspan += each %>
    <% end %>
    <tr>
      <td colspan="<%= colspan[0] %>">
        <p>Name</p></td>
      <td colspan="<%= colspan[1] %>">
        <p>Type</p></td>
      <td colspan="<%= colspan[2] %>">
        <p> Age (years)</p></td>
      <td colspan="<%= colspan[3] %>">
        <p> Date of birth</p></td>
      <td colspan="<%= colspan[4] %>">
        <p>Assigned Human</p></td>
      <td colspan="<%= colspan[5] %>">
        <p>Favourite colour</p></td>
      <td colspan="<%= colspan[6] %>"></td>
      <td colspan="<%= colspan[7] %>"></td>
      <td colspan="<%= colspan[8] %>"></td>
    </tr>
    <% for animal in @animals %>
    <tr>
      <td colspan="<%= colspan[0] %>">
        <a href="/animals/<%= animal.id %>">
          <p><%= animal.animal_name %></p>
        </a>
      </td>
      <td colspan="<%= colspan[1] %>">
        <p><%= animal.type %></p>
      </td>
      <td colspan="<%= colspan[2] %>">
        <p><% @up_to_date_age = animal.get_age() %>
          <%= @up_to_date_age %></p>
      </td>
      <td colspan="<%= colspan[3] %>">
        <p><%= animal.date_of_birth %></p>
      </td>
      <td colspan="<%= colspan[4] %>">
        <p><% human = animal.get_human()%>
          <a href="/humans/<%= human['id'] %>"><%= human['human_name'] %></a></p>
      </td>
      <td colspan="<%= colspan[5] %>">
        <p><% vet = animal.get_vet()%>
          <a href="/vets/<%= vet['id'] %>"><%= vet['vet_name'] %></a></p>
      </td>
      <td colspan="<%= colspan[6] %>">
        <p><%= animal.fav_colour %></p>
      </td>
      <td colspan="<%= colspan[7] %>">
        <a href="/animals/<%= animal.id %>/edit">edit</a>
      </td>
      <td colspan="<%= colspan[8] %>">

        <form action="/animals/<%= animal.id %>/delete" method="post">
          <button type="submit" name="button">Delete animal</button>
        </form>

      </td>

    </tr>
      <% end %>
    <tr>
      <td colspan="<%= total_colspan %>">
        <a href="/animals/new">
          <p>Add New Animal</p>
        </a>
      </td>
    </tr>
  </table>
    <!-- <li> -->

    <!-- <p><a href="/animals/<%= animal.id %>/edit">Edit Animal</a></p> -->
      <!-- <hr></li> -->
</div>
