<h1>Name: <%= @animal['name'] %></h1>
<p><%= @animal['type'] %></p>
<p>Favourite Colour: <%= @animal['fav_colour'] %></p>
<p>D/O/B: <%= @animal['date_of_birth'] %></p>
<p>Age: <%= @animal['age'] %></p>

<p><a href="/animals/<%= @animal['id'] %>/edit">Edit animal</a></p>

<a href="/animals"><< back to all animals</a>
<form action="/animals/<%= @animal['id'] %>/delete" method="post">
  <button type="submit" name="button">Delete animal</button>

</form>
