<div class="vet_assign">

    <table>
      <tr>
        <td>Name</td>
        <td></td>
      </tr>
      <form class="animals" action="/animals/<%= @animal.id %>" method="post">
        <label for="name">Name:</label>
        <input type="text" id="animal-name" name="animal_name" value="<%= @animal.animal_name %>">
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="<%= @animal.type %>">
        <label for="date-of-birth">D/O/B:</label>
        <input type="date" id="date-of-birth" name="date_of_birth" value="<%= @animal.date_of_birth %>">
        <label for="fav-colour">Favourite Colour:</label>
        <input type="color" id="fav-colour" name="fav_colour" value="<%= @animal.fav_colour %>">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" value="<%= @animal.age %>">

    </table>
  <form class="animals" action="/animals/vet_assign" method="post">
    <select id="vet-id" name="vet_id" selected="
    <% unassigned = Vet.find_unassigned() %>
    <%= unassigned.id %>">
      <% for vet in @vets %>
        <% if vet.id == unassigned.id %>
          <option value="<%= vet.id %>" selected ><%= vet.vet_name %></option>
        <% else %>
          <option value="<%= vet.id %>"><%= vet.vet_name %></option>
        <% end %>
      <% end %>
    </select>
    <button type="submit" name="animals">Add Animal</button>
</form>

</div>
