<div class="edit_form">

  <form class="humans" action="/humans/<%= @human['id'] %>" method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="
      <%= @human['name'] %>">
    <label for="address">Address:</label>
    <textarea rows = "5" cols = "60" name = "address" value="
      <%= @human['name'] %>"></textarea>
    <label for="fav-colour">Favourite Colour:</label>
    <input type="color" id="fav-colour" name="fav_colour" value="
      <%= @human['name'] %>">
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" value="
      <%= @human['phone'] %>">
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" value="
      <%= @human['email'] %>">

    <button type="submit" name="humans">Update Human</button>

  </form>

</div>
