<h1>Humans</h1>

<div class="humans table">
  <table>
    <tr>
      <td>Name</td>
      <td colspan="3">Contact Details</td>
      <td>Favourite Colour</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>

    <%for human in @humans %>
      <% if human.name != 'Stray' %>

      <tr>

        <td>
          <a href="/humans/<%= human.id %>">
            <h2><%= human.name %></h2>
          </a>
        </td>

        <td>
          <p><%= human.address %></p>
        </td>

        <td>
          <p><%= human.email %></p>
        </td>

        <td>
          <p><%= human.phone %></p>
        </td>

        <td>
          <p><%= human.fav_colour %></p>
        </td>

        <td>
          <a href="/humans/<%= human.id %>/edit">edit</a>
        </td>

        <td>
          <form action="/humans/<%= human.id %>/delete" method="post">
            <button type="submit" name="button">Delete Human</button>
          </form>
        </td>

      </tr>

      <% end %>
      <% end %>

      <tr>
        <td>
          <a href="/humans/new">Add New Human</a>
        </td>
      </tr>
  </table>




</div>
