<div class="two-column-left">
  <h2>Waiting Queue</h2>
  <table>
    <thead>
      <th> Animal Name</th>
      <th> Human_Name</th>
      <th> </th>
      </thead>
      <% table_count = 0
      for animal in @animals %>
    <tr class="<% table_count += 1 %><%= "even" if table_count.even? %><%= "odd" if table_count.odd? %>">
      <td> <a href="/animals/<%= animal['id'] %>"><%= animal['animal_name'] %></a></td>
      <td> <a href="/humans/<%= animal['human_id']%>"> <%= animal['human_name'] %></a></td>
      <td> <a href="/animals/<%= animal['id'] %>/assign">Assign Vet</a></td>
    </tr>
    <% end %>
    <tr></tr>
    <tr></tr>
    <tr></tr>
  </table>
</div>
<div class="two-column-right>"<p>Welcome to St. Tina's Hope </p>
  <table id="main-index">
    <tr class="main">
      <td class="main animals">
        <h2><a href="/animals">Animals</a></h2>
        <p><a href="/animals/new">Create Animal</a></p>
        <td class="main vets">
        <h2><a href="/vets">Vets</a></h2>
        <p><a href="/vets/new">Add new</a></p></td>
    </tr>
    <tr class="main">
      <td class="main humans">
        <h2><a href="/humans">Humans</a></h2>
        <p><a href="/humans/new">Add new</p></td>
      <td class="main notes">
        <h2><a href="/notes">Notes</a></h2>
        <p><a href="/notes/new">Create Notes</a></p></td>
    </tr>
    <!-- <tr>
      <td><h2>Medicines</h2><p>add new</p></td>
    </tr> -->
</table>
</div>
