<div class="edit_form">
  <form class="vets" action="/vets/<%= @vet['id'] %>" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= @vet['name'] %>">
    <label for="name">Role:</label>
    <select id="role" name="role" value='<%= @vet['role'] %>'>
      <option value="nurse">nurse</option>
      <option value="administrator">administrator</option>
      <option value="trainee">trainee</option>
      <option value="receptionist">receptionist</option>
      <option value="clinical lead">clinical lead</option>
    </select>
    <label for="fav-colour">Favourite Colour:</label>
    <input type="text" id="fav-colour" name="fav_colour" value="<%= @vet['fav_colour'] %>">
    <label for="profile-image">Profile Image</label>
    <input type="text" id="profile-image" name="profile_image" value="<%= @vet['profile_image'] %>">
    <button type="submit" name="vets">Update Vet</button>
</form>

</div>
