<div>
  <h1>All The Vets</h1>
  <ul id="vets_table">

    <% for vet in @vets %>
      <li>
        <a href="/vets/<%= vet.id %>"><img src="/images/<%= vet.profile_image %>" alt="image of <%= vet.name %>"></a>
        <a href="/vets/<%= vet.id %>"><h2><%= vet.name %></h2></a>
        <p><%= vet.role %></p>
        <p><a href="/vets/<%= vet.id %>/edit">Edit Vet</a></p>

      <form action="/vets/<%= vet.id %>/delete" method="post">
        <button type="submit" name="button">Delete vet</button>
      </form>

      <hr></li>
    <% end %>

  </ul>
  <nav>
    <a href="/vets/new">Add New Vet</a>
  </nav>
</div>
