<div>
  <h1>All The Vets</h1>
  <ul id="vets_table">

    <% for vet in @vets %>
    <% if vet.id != @unassigned.id %>
      <li <%= "class=\"row-deleted\"" if vet.deleted == "t" %>>
        <a href="/vets/<%= vet.id %>"><img src="/images/<%= vet.profile_image %>" alt="image of <%= vet.vet_name %>"></a>
        <a href="/vets/<%= vet.id %>"><h2><%= vet.vet_name %></h2></a>
        <p><%= vet.role %></p>
        <%= "<p>This vet is no longer at this practice</p>" if vet.deleted == "t" %>
        <p><a href="/vets/<%= vet.id %>/edit">Edit Vet</a></p>

        <% if vet.deleted == 'f' %>
          <form action="/vets/<%= vet.id %>/delete" method="post">
            <button type="submit" name="button">Delete vet</button>
          </form>
        <% else %>
        <form action="/vets/<%= vet.id %>/reinstate" method="post">
          <input type="hidden" name="vet_name" value="<%= vet.vet_name %>">
          <input type="hidden" name="role" value="<%= vet.role %>">
          <input type="hidden" name="fav_colour" value="<%= vet.fav_colour %>">
          <input type="hidden" name="profile_image" value="<%= vet.profile_image %>">
          <input type="hidden" name="deleted" value="f">

          <button type="submit" name="button">Reinstate</button>
        </form>
        <% end %>
      <% end %>
      <hr></li>
    <% end %>

  </ul>
  <nav>
    <a href="/vets/new">Add New Vet</a>
  </nav>
</div>
