<h1>Name: <%= @vet['name'] %></h1>
<p><%= @vet['role'] %></p>
<img src="/public/<%= @vet['profile_image'] %>">
<p>Favourite Colour: <%= @vet['fav_colour'] %></p>

<p><a href="/vets/<%= @vet['id'] %>/edit">Edit Vet</a></p>

<a href="/vets"><< return to all vets</a>
<form action="/vets/<%= @vet['id'] %>/delete" method="post">
  <button type="submit" name="button">Delete Vet</button>

</form>
