<h1>Name: <%= @vet.vet_name %></h1>
<%= "<p>This vet is no longer at this hospital.</p>" if @vet.deleted == TRUE %>
<p><%= @vet.role %></p>
<img src="/images/<%= @vet.profile_image %>">
<p>Favourite Colour: <%= @vet.fav_colour %></p>

<p><a href="/vets/<%= @vet.id %>/edit">Edit Vet</a></p>
<hr>
<h2>Assigned Animals</h2>
<table>
  <% for animal in @animals %>
  <tr>
    <td><a href="/animals/<%= animal['id'] %>"><%= animal['animal_name'] %></a></td>
    <td><%= animal['age'] %></td>
    <td><%= animal['date_of_birth'] %></td>
    <td><%= animal['human_name'] %></td>
    <td><a href="/animals/<%= animal['id'] %>/notes"> View Notes</a></td>
    <td>#Medicines</td>
    <td>#Unassign</td>
  </tr>
  <% end %>
</table>

<a href="/vets"><< return to all vets</a>
<form class="vet-delete" action="/vets/<%= @vet.id %>/delete" method="post">
  <button type="submit" name="vet-delete" value="vet_delete">Delete Vet</button>
</form>
