<div class="flex-columns min-width-80">

<h1>Notes Page</h1>

<div class="notes-table">

<table>
  <thead>
    <th>Animal Name</th>
    <th>Note</th>
    <th>Author</th>
    <th>Timestamp</th>
  </thead>
  <% table_count = 0 %>
  <% for note in @notes %>
  <tr class="<% table_count += 1 %><%= "even" if table_count.even? %><%= "odd" if table_count.odd? %>">
    <td><a href="/animals/<%= note.animal_id %>"><%= note.get_patient()['animal_name'] %></a></td>
    <td><%= note.body %></td>
    <td><a href="/vets/<%= note.vet_id %>"><%= note.get_author()['vet_name'] %></a></td>
    <td><a href="/notes/<%= note.id %>"><%= note.get_time() %>

      </a></td>
  </tr>
  <% end %>
</table>

  <div class="span" id="note-add">
    <a class="button" href="/notes/new">Add New Note</a>
  </div>
</div>
</div>
