<h1>Notes Page</h1>

<table>
  <tr>
    <td>Animal Name</td>
    <td>Note</td>
    <td>Author</td>
    <td>Timestamp</td>
  </tr>
  <% for note in @notes %>
  <tr>
    <td><a href="/animals/<%= note.animal_id %>"><%= note.get_patient()['animal_name'] %></a></td>
    <td><%= note.body %></td>
    <td><a href="/vets/<%= note.vet_id %>"><%= note.get_author()['vet_name'] %></a></td>
    <td><a href="/notes/<%= note.id %>"><%= note.get_time() %>

      </a></td>
  </tr>
  <% end %>
  <tr>
    <td colspan = "4"><a href="/notes/new">Add New Note</a></td>
  </tr>
</table>
