<h2>Note #<%= note.id %> - #Animal_name(<%= note.animal_id %>)</h2>
<h3>Their Human: #Human_name</h3>

<p><%= note.body %>
written by <a href='/vets/<%= note.vet_id %>'>#Vet_Name at <%= note.timestamp %></p>

<a href="/animals/<%= note.animal_id %>"><< back to animal</a>
<< back to animal
